@model UnaClayChildminding.Models.Image

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Image</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="url" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="url" class="form-control" />
                <span asp-validation-for="url" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
