@model Admin

<div class="container-fluid">
    @Html.Partial("_header")

    <form asp-controller="Home" asp-action="Admin" method="post">
        <div class="form-group">
            <label for="Availability">Availability</label>
            <input asp-for="Availability" class="form-control" id="Availability" />
        </div>
        <button class="btn btn-default" type="submit">Submit</button>

    </form>
</div>

