<!--<div id="wrapper">-->

<div class="container-fluid">
    @Html.Partial("_header")
    <div class="container-fluid">
        @Html.Partial("_LeftPic")
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <h3>Una Clay</h3>
            <p>
                I am a mum, with one daughter aged 14 years, one son age 8 year and my
                husband, Stephen. We live in Forest Park, Bracknell and I can drop off or pick up from
                St. Margaret Clitherow Primary schooll as well as local pre-schools and nurseries such as
                Plus Threes, South Hill Park and Birch Hill.
            </p>
            <p>
                I have been an <a href="http://www.ofsted.gov.uk/inspection-reports/find-inspection-report/provider/CARE/EY389484">OFSTED</a>
                registered Childminder since May 2009 and was graded as good during my last inspection in June 2015.
            </p>
            <p>
                A typical day in our house would start with the morning school run followed by a visit to a 
                local toddler group or park. Often we will walk to the Look Out which is only 15 minutes away on foot.
                Bracknell is fortunate to have numerous wonderful parks and the children love playing on the swings
                and slides or just splashing puddles when it's wet.
            </p>
            <p>
                After a home made lunch, we will often get out the crafts box and be sticking, painting, cutting and
                generally making things from what we collected while out and about in the morning. 
                Finally, we will have a story or sing song before the afternoon school run.
                <br /><br /><br /><br />
            </p>
        </div>
        <br /><br />
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <p>
                After the school run, we might have a play in the park or visit the library on the way home.
                We will have a hot dinner between 4pm and 5pm after which I will encourage all the children to tidy up
                before having a play in the garden or the playroom while we wait for parents to pick up.
                
            </p>
            <p>
                Occasionally, I will take the children to my allotment so they can experience
                planting and growing vegetables etc.
            </p>
            <p>
                I hope that has given you a flavour of what a typical day looks like but please get in touch with me
                to find out more.
            </p>
        </div>
        @Html.Partial("_RightPic")
    </div>
</div>

