<!--<div id="wrapper">-->

<div class="container-fluid">

    @Html.Partial("_header")
    <div class="container-fluid">
        @Html.Partial("_LeftPic")
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <h3>Qualifications</h3>
            I have the following qualifications and experience:-
            <ul>
                <li>Emergency Paediatric First Aid Course</li>
                <li>CACHE level 3 Diploma in Home based Childcare</li>
                <li>Basic Awareness in Child Protection Training</li>
                <li>Food Safety & Hygiene Course (level II)</li>
                <li>An Introuction to the Common Assessment Framework for Childminders (CAF)</li>
                <li>Gold Award fo Health Eating</li>
                <li>CRB checked for both myself and my Husband</li>
                <li>Clean Driving license </li>
            </ul>
        </div>
    </div>
</div>

