<!--<div id="wrapper">-->

<div class="container-fluid">
    
    @Html.Partial("_header")
    <div class="container-fluid">
        <div class="col-sm-3 col-md-3 hidden-sm hidden-xs">
            <p><img src="~/images/PACEY.png" align="top" /></p>
            <p><img src="~/images/ofstead.gif" align="bottom" /></p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <h3>Qualifications</h3>
            I have the following qualifications and experience:-
            <ul>
                <li>CACHE diploma in home based childcare unit 1 </li>
                <li>12 Hour Emergency Paediatric first aid course </li>
                <li>Safeguarding Children level 1 & 2 workshop </li>
                <li>Certificate in Child Protection Awareness (NSPCC) </li>
                <li>Level 2 Award in Food Safety </li>
                <li>Criminal Records Bureau (CRB cleared) </li>
                <li>Professional Association for Childcare and Early Years (PACEY) </li>
                <li>ELKAN Speech & Language Support for Under 5's</li>
                <li>Driving license </li>
            </ul>
            I regularly attend
            training courses to keep up to date with the best practices and procedures.
        </div>
    </div>
</div>

