<!--<div id="wrapper">-->

<div class="container-fluid">
    <div class="jumbotron" style="background: rgba(0,0,0,0)">
        <div class="container-fluid">
            <row>

                <div class="col-sm-9 col-md-9 h4 text-center">
                    Welcome to Little Smiles Childcare <br />Childcare services in Bracknell, Berkshire<br /><br />
                    <div class="h5">
                        <span class="glyphicon glyphicon-phone-alt"></span> 01344 485609<br />
                        <span class="glyphicon glyphicon-phone"></span> 07958 426366<br />
                        <a class="glyphicon glyphicon-envelope" href="mailto:lisa@littlesmileschildcare.co.uk"> lisa@littlesmileschildcare.co.uk</a>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <img class="center-block" src="~/images/littlesmileslogo.png" width="216" height="130" />
                </div>
            </row>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-sm-4 col-md-4 hidden-sm hidden-xs">
            <img src="~/images/littlesmiles.gif" width="216" height="255" align="bottom" />
        </div>
        <div class="col-sm-8 col-md-8">
            <h3>Childcare Services</h3>
            <p>
                I provide full time and part time childcare under 5 years of age, between the hours of 07:30am - 6:00pm Monday - Friday excluding Public Holidays.
            </p>
            <h3>School Drop Off / Collection Services </h3>
            <p>
                I provide before and after school care for children aged between 5-11years of age from 07:30am - 09:00am and from 3:00pm - 6:00pm, Monday - Friday excluding Public Holidays, as well as full time care during school holidays.
            </p>
            <p>I am able to cover the areas of Harmans Water, Crown Wood, Bullbrooke, Forest Park, The Warren, Easthampstead, Birch Hill, Great Hollands and Ascot, in the Bracknell Forest area, in Berkshire.</p>
            <h3>Babysitting Service</h3>
            <p>
                I can provide a babysitting service in your home from 7:00pm to 01:00am on Friday and Saturday's excluding Public holidays.
            </p>
        </div>
    </div>
</div>
