<!--<div id="wrapper">-->

<div class="container-fluid">
    @Html.Partial("_header")
    <div class="container-fluid">
        @Html.Partial("_LeftPic")
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <h3>Childcare Services</h3>
            <p>
                I provide full time and part time childcare under 5 years of age, between the hours of 07:30am - 6:00pm Monday - Friday excluding Public Holidays.
            </p>
            <h3>School Drop Off / Collection Services </h3>
            <p>
                I provide before and after school care for children from St. Margaret Clitherow Primary School who are aged between 5-11years of age from 07:30am - 09:00am and from 3:00pm - 6:00pm, Monday - Friday excluding Public Holidays, as well as full time care during school holidays.
            </p>
            <p>I am able to cover the areas of Harmans Water, Crown Wood, Bullbrooke, Forest Park, The Warren, Easthampstead, Birch Hill, Great Hollands and Ascot, in the Bracknell Forest area, in Berkshire.</p>
        </div>
    </div>
</div>
