@model IEnumerable<UnaClayChildminding.Models.Testimonial>


<div class="container-fluid">
    @Html.Partial("_header")
    <div class="container-fluid">
        @Html.Partial("_LeftPic")
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <h3>Testimonials</h3>

            @*@foreach (var item in Model)
    {
        <div class="panel panel-default panel-body">
            @Html.DisplayFor(modelItem => item.Description)
        </div>
    }*@
            <div class="panel panel-default panel-body">
                    Ms M XXX from Harmans Water remarks “We enjoy reading what our daughter has been upto in the daily contact book. We are very happy with all the outdoor activities and XXX seems happy.”
                </div>
                <div class="panel panel-default panel-body">
                    Ms P XXX from Harmans Water comments “We have been very happy. The daily contact diary is very detailed. The activities our son does seem very varied. The meals are excellent. XXX has been very happy when being dropped off so we don’t worry about him. We have been very impressed with your level of childcare and efficiency.”
                </div>
                <div class="panel panel-default panel-body">
                    Ms M XXX from Harmans Water states
                    "I would like to take this opportunity to thank you for all the fantastic care and support you have given to XXX over the last year. I can honestly say we will be very hard pushed to find the same standard of care and development for XXX in Wales, as we relocate with the family. Many thanks."
                </div>

        </div>
    </div>
</div>
