@model IEnumerable<UnaClayChildminding.Models.Testimonial>


<div class="container-fluid">
    @Html.Partial("_header")
    <div class="container-fluid">
        @Html.Partial("_LeftPic")
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <h3>Testimonials</h3>

            @*@foreach (var item in Model)
                {
                    <div class="panel panel-default panel-body">
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                }*@
            <div class="panel panel-default panel-body">
                “she wasn't at all sure about things to start with but with a lot of patience and persistence, she is now enjoying her days with Una
                and is clearly developing in confidence as each week goes by.”
                <br /><br />
                “We love the fact that you take her out to different locations where she she gets the chance to play and interact with other children.”
            </div>
            <div class="panel panel-default panel-body">
                “Una was always keen to accomodate our needs ad provide high quality care.
                She ensures all children are happy and interact with each other regardless of their age differences.
                We know that our son is well looked after and safe in her hands and we wouldn't hesitate to recommend her services to other parents.”
            </div>
            <div class="panel panel-default panel-body">
                “The girls enjoyed their time with Una we we felt completley at ease leaving them with her each week. 
                Una was extremely reliable and her house was well equipped for childminding. 
                I would have no hesitation in recommending Una to anyone looking for a childminder.”
            </div>
            <div class="panel panel-default panel-body">
                “my son was not keen on being away from me to begin with and Una was excellent with the hand-over making it the least upsetting for the child and parent.
                If he was very upset, Una would text me a little while later to let me know that he was now OK. She always appeared calm and collected.
                She was always in control of any children with her and all the children were happy and neat in appearance.”
                <br /><br />
                “my son would always talk about Una and the time spent with her in a very positive way.
                I felt the range of activities were great - crafts, games, baking, outings to local parks and amenities, meetings with other
                childminders and their children...
                Furthermore, Una always provided a well balanced and healthy lunch.”
                <br /><br />
                “Una always put a notebook in his bag where she would write a summary of the day and details of the lunch provided which was brilliant
                as this way I knew what he had eaten. It also meant I could ask my son relevant questions about what he had done.”
                <br /><br />
                “I really can't put into words what a great childminder Una was for my son and I would recommend her to any parent.”
            </div>
            <div class="panel panel-default panel-body">
                “Una cares for the children that she childminds in a very mature, patient and consistent manner creating an environment which is a home from home.
                Una provides a high standard of childcare, certainly in line with our own expectations. Una has quickly established a routine
                with the children that respond well to and this helps them to feel happy, safe and secure. The children have the lots of fun along
                with the right level of interaction and stimulus.”
            </div>
            <div class="panel panel-default panel-body">
                “My children always been looked after by Una since May and have settled in very quickly and easily. They always look forward
                to seeing Una and her family. I have found Una to be extremely approachable, flexible and caring and feel extremely confident
                that my children are safe and well cared for.”
            </div>
    </div>
</div>
