<div id="wrapper">

    <div id="container" class="row">

        <div id="side-a" class="col-sm-5">
            <img src="~/images/pacey.png" width="140" height="47" /><img src="~/images/ofstead.gif" width="90" height="100" /><br />
            <p class="availability">
                <SCRIPT LANGUAGE="Javascript">
<!--

// Array of day names
var dayNames = new Array("Sunday","Monday","Tuesday","Wednesday",
				"Thursday","Friday","Saturday");

// Array of month Names
var monthNames = new Array(
"January","February","March","April","May","June","July",
"August","September","October","November","December");

var now = new Date();
document.write(dayNames[now.getDay()] + " " + now.getDate() + " " + monthNames[now.getMonth()] + "  " + now.getFullYear());

// -->
                </SCRIPT>
                <br />
                <br />
                <strong>AVAILABLE:</strong><br />
                1 part time space
                <br />
                <br />
                Telephone: <strong>07958 426366</strong> or 01344 485609<br />
                <a href="mailto:lisa@littlesmileschildcare.co.uk">lisa@littlesmileschildcare.co.uk</a>
            </p>
            <p class="availability">
                <br />
                <!-- br />
                <a href="mailto:Lisa@qbsmail.zzn.com">Lisa@littlesmileschildcare.co.uk</a -->
            </p>
            <br />
            <br />
            <br />
            <img src="~/images/littlesmiles.gif" width="270" height="319" /><br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <img src="~/images/inverse2.gif" width="262" height="295" align="right" />
        </div>

        <div id="side-b" class="col-sm-7">
            <h1>Little Smiles Childcare</h1>
            <img src="~/images/childcare.gif" width="246" height="275" align="right" /><h2>
                Ofsted & PACEY Registered
                Childminder Services <br />
                in Bracknell, Berkshire
            </h2>
            <h3>Lisa Bruton</h3>
            <p>
                I am a happy mother, with one daughter aged 7 years and living with my
                husband, Ben. We have two pet rabbits- Toffee &amp; Betty and a cockatiel
                bird-Jim Jim, in our non-smoking Bracknell home.
            </p>
            <p>
                I enjoy seeing children smiling and having fun and this created my passion
                for providing home from home childcare. By providing a safe and stimulating
                home environment which meets children's individual needs, I aim to support
                parents to enable them to balance work and family responsibilities.
            </p>
            <p>
                I am a fully qualified and Ofsted registered childminder, delivering
                childcare services in a warm and friendly environment. Ben & I both have
                enhanced Criminal Records Bureau (CRB) checks.
            </p>
            <p>
                I have the following qualifications and experience:-
                <ul>
                    <li>CACHE diploma in home based childcare unit 1 </li>
                    <li>12 Hour Emergency Paediatric first aid course </li>
                    <li>Safeguarding Children level 1 & 2 workshop </li>
                    <li>Certificate in Child Protection Awareness (NSPCC) </li>
                    <li>Level 2 Award in Food Safety </li>
                    <li>Criminal Records Bureau (CRB cleared) </li>
                    <li>Professional Association for Childcare and Early Years (PACEY) </li>
                    <li>ELKAN Speech & Language Support for Under 5's</li>
                    <li>Driving license </li>
                </ul>
                <div align="right"> </div>
                <img src="~/images/inverse1.gif" width="290" height="321" align="right" />
            <p>
                I regularly attend
                training courses to keep up to date with the best practices and procedures.
            </p>
            <p>
                We have a lovely secure garden with a vegetable patch, playhouse, sand/
                water pit and ride on toys to encourage children to have fun and learn
                through physical play.
            </p>
            <p>
                I cater indoor activities, to help children feel comfortable and encourage
                interaction whilst having an educational value. For example cooking, messy
                play, arts /crafts, singing /dancing and reading.
            </p>
            <p>
                I enjoy daily outings either to the local parks, walks to the library,
                visits to play/ toddler groups or indoor play centres. Weather permitting,
                I also go on special outings, for example to Legoland, Odds Farm Park
                and Windsor Castle.
            </p>
            <p>
                I can provide nutritious hot and cold meals and I have a separate sleeping
                room for little ones.
            </p>
            <p>
                I am happy to care for babies and children up to 11 years and my toys
                and facilities reflect this. Whether you need care for your child all
                day while you work or you require part time, before/after school hours,
                I am flexible to help you.
            </p>
            <p>
                I am able to cover the areas of Harmans Water, Crown Wood, Bullbrooke,
                Forest Park, The Warren, Easthampstead, Birch Hill, Great Hollands and
                Ascot, in the Bracknell Forest area, in Berkshire.
            </p>
            <p>
                <strong>
                    For more information, please look at our <a href="childcare_services.html">
                        Childcare
                        Services
                    </a> page
                </strong>.
            </p>
        </div>
    </div>

    <div id="footer">
        <p class="foottext">&copy; 2014 Little Smiles Childcare</p>
    </div>
</div>