<!--<div id="wrapper">-->

<div class="container-fluid">
    <div class="jumbotron" style="background: rgba(0,0,0,0)">
        <div class="container-fluid">
            <row>

                <div class="col-sm-9 col-md-9 h4 text-center">
                    Welcome to Little Smiles Childcare <br />Childcare services in Bracknell, Berkshire<br /><br />
                    <div class="h5">
                        <span class="glyphicon glyphicon-phone-alt"></span> 01344 485609<br />
                        <span class="glyphicon glyphicon-phone"></span> 07958 426366<br />
                        <a class="glyphicon glyphicon-envelope" href="mailto:lisa@littlesmileschildcare.co.uk"> lisa@littlesmileschildcare.co.uk</a>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <img class="center-block" src="~/images/littlesmileslogo.png" width="216" height="130" />
                </div>
            </row>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-sm-4 col-md-4 hidden-sm hidden-xs">
            <p><img src="~/images/PACEY.png" align="top" /></p>
            <p><img src="~/images/ofstead.gif" align="bottom" /></p>
        </div>
        <div class="col-sm-8 col-md-8">
            <h3>Qualifications</h3>
            I have the following qualifications and experience:-
            <ul>
                <li>CACHE diploma in home based childcare unit 1 </li>
                <li>12 Hour Emergency Paediatric first aid course </li>
                <li>Safeguarding Children level 1 & 2 workshop </li>
                <li>Certificate in Child Protection Awareness (NSPCC) </li>
                <li>Level 2 Award in Food Safety </li>
                <li>Criminal Records Bureau (CRB cleared) </li>
                <li>Professional Association for Childcare and Early Years (PACEY) </li>
                <li>ELKAN Speech & Language Support for Under 5's</li>
                <li>Driving license </li>
            </ul>
            I regularly attend
            training courses to keep up to date with the best practices and procedures.
        </div>
    </div>
</div>

