<div class="jumbotron" style="background: rgba(0,0,0,0)">
    <div class="container-fluid">
        <row>
            @*<div class="col-sm-12 col-md-12">
        <img src="~/images/preschool-children-playing-clip-art-i4.png" width="669" height="122">
    </div>*@
        </row>
        <row>
            <!--<div class="col-sm-3 col-md-3">
                <img class="center-block" src="~/images/abc_blocks.png" width="130" height="130" />
            </div>-->
            <div class="col-sm-6 col-md-6 h4 text-center">
                Welcome to Una Clay Childminding <br />Childcare services in Bracknell, Berkshire<br /><br />
                <div class="h5">
                    <span class="glyphicon glyphicon-phone-alt"></span> 01344 302594<br />
                    <span class="glyphicon glyphicon-phone"></span> 07932 142333<br />
                    <a class="glyphicon glyphicon-envelope" href="mailto:unaclay@yahoo.co.uk"> unaclay@yahoo.co.uk</a>
                </div>
            </div>
            <!--<div class="col-sm-3 col-md-3">
                <img class="center-block" src="~/images/abc_blocks.png" width="130" height="130" />
            </div>-->
        </row>
    </div>
</div>