<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Una Clay Childminding</title>

    <environment names="Staging,Production,Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link href="~/css/childminding_new.css" rel="stylesheet" type="text/css" media="screen">
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Home"><img src="~/images/child1.png" width="27" height="39" style="margin:0px 5px" />Home</a></li>
                    <li><a asp-controller="Home" asp-action="Qualifications"><img src="~/images/child2.png" width="27" height="39" style="margin:0px 5px" />Qualifications</a></li>
                    <li><a asp-controller="Home" asp-action="Services"><img src="~/images/child3.png" width="27" height="39" style="margin:0px 5px" />Childcare Services</a></li>
                    <li><a asp-controller="Home" asp-action="Testimonials"><img src="~/images/child4.png" width="27" height="39" style="margin:0px 5px" />Testimonials</a></li>
                    @*<li><a asp-controller="Home" asp-action="Parents">Parent Login</a></li>*@
                </ul>
                @*<ul class="nav navbar-nav navbar-right hidden-xs">
                        <li><a asp-controller="Home" asp-action="Admin"><img src="~/images/child5.png" width="27" height="39" style="margin:0px 5px" />Admin</a></li>
                    </ul>*@
                </div>
            </div>
        </div>
        <div class="container-fluid">
            @RenderBody()
            <div class="navbar navbar-fixed-bottom text-right">
                &copy; 2016 - <a href="mailto:stephen.clay@hotmail.com">Stephen Clay</a>
            </div>
        </div>

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("scripts", required: false)
    </body>
    </html>
